openapi: 3.0.3
info:
  title: Martian Gateway API
  description: |
    Martian Gateway provides unified access to 200+ AI models through a single API.
    It supports OpenAI-compatible chat completions with intelligent LLM routing,
    Anthropic-compatible messages, and model listing with pricing information.
    The router can optimize for cost, quality, and latency using parameters like
    willingness_to_pay and max_cost.
  version: '1.0.0'
  contact:
    name: Martian
    url: https://withmartian.com
    email: support@withmartian.com
servers:
  - url: https://api.withmartian.com
    description: Production server
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    # ─── Chat Completions (OpenAI-compatible + Martian routing) ───

    ChatCompletionMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: The role of the message author.
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          description: The content of the message. Can be a string or an array of content parts.
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ContentPart'
        name:
          type: string
          description: An optional name for the participant.
        tool_calls:
          type: array
          description: Tool calls generated by the model.
          items:
            $ref: '#/components/schemas/ToolCall'
        tool_call_id:
          type: string
          description: Tool call that this message is responding to.

    ContentPart:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the content part.
          enum:
            - text
            - image_url
        text:
          type: string
          description: The text content.
        image_url:
          type: object
          description: The image URL content.
          properties:
            url:
              type: string
              description: The URL of the image.
            detail:
              type: string
              description: The detail level of the image.
              enum:
                - auto
                - low
                - high

    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          description: The type of the tool call.
          enum:
            - function
        function:
          type: object
          required:
            - name
            - arguments
          properties:
            name:
              type: string
              description: The name of the function to call.
            arguments:
              type: string
              description: JSON-encoded arguments for the function call.

    Tool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          description: The type of tool.
          enum:
            - function
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: The name of the function.
            description:
              type: string
              description: A description of the function.
            parameters:
              type: object
              description: The parameters the function accepts as a JSON Schema object.

    ResponseFormat:
      type: object
      properties:
        type:
          type: string
          description: The type of response format.
          enum:
            - text
            - json_object
            - json_schema
        json_schema:
          type: object
          description: JSON Schema specification for structured output.
          properties:
            name:
              type: string
              description: The name of the schema.
            schema:
              type: object
              description: The JSON Schema object.
            strict:
              type: boolean
              description: Whether to enable strict schema adherence.

    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: |
            The model to use, in provider/model-name format.
            Example: openai/gpt-4.1-nano, anthropic/claude-sonnet-4-20250514
        messages:
          type: array
          description: A list of messages comprising the conversation so far.
          items:
            $ref: '#/components/schemas/ChatCompletionMessage'
        temperature:
          type: number
          format: float
          description: Sampling temperature between 0 and 2.
          minimum: 0
          maximum: 2
        max_completion_tokens:
          type: integer
          description: Maximum number of tokens to generate in the chat completion.
        max_tokens:
          type: integer
          description: Maximum number of tokens to generate (deprecated, use max_completion_tokens).
        stream:
          type: boolean
          description: If true, partial message deltas will be sent as SSE events.
          default: false
        tools:
          type: array
          description: A list of tools the model may call.
          items:
            $ref: '#/components/schemas/Tool'
        tool_choice:
          description: Controls which (if any) tool is called by the model.
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - function
                function:
                  type: object
                  properties:
                    name:
                      type: string
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        frequency_penalty:
          type: number
          format: float
          description: Penalize new tokens based on their frequency in text so far. Between -2.0 and 2.0.
          minimum: -2
          maximum: 2
        presence_penalty:
          type: number
          format: float
          description: Penalize new tokens based on whether they appear in text so far. Between -2.0 and 2.0.
          minimum: -2
          maximum: 2
        top_p:
          type: number
          format: float
          description: Nucleus sampling parameter. Between 0 and 1.
          minimum: 0
          maximum: 1
        seed:
          type: integer
          description: Seed for deterministic sampling.
        stop:
          description: Up to 4 sequences where the API will stop generating.
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        logprobs:
          type: boolean
          description: Whether to return log probabilities of the output tokens.
        top_logprobs:
          type: integer
          description: Number of most likely tokens to return at each position.
          minimum: 0
          maximum: 20
        user:
          type: string
          description: A unique identifier representing the end-user.
        # ─── Martian Router Parameters ───
        models:
          type: array
          description: |
            List of models the router can choose from. When specified, the router
            will only route between these models. Uses provider/model-name format.
          items:
            type: string
        max_cost:
          type: number
          format: float
          description: |
            Maximum cost of the total request in USD. Allows you to specify
            an upper bound on what you are willing to pay for the request.
        max_cost_per_million_tokens:
          type: number
          format: float
          description: |
            Maximum cost per 1 million tokens in USD. Allows you to specify
            a minimum efficiency for your models.
        willingness_to_pay:
          type: number
          format: float
          description: |
            Value of getting better output, measured in dollars. A value of 0.1
            indicates that each 10% improvement in performance is worth 10 cents.
            If not set, defaults to infinity (optimize only for performance).
        extra:
          type: object
          description: Arbitrary metadata to attach to the request for tracking.
          additionalProperties: true

    ChatCompletionChoice:
      type: object
      properties:
        index:
          type: integer
          description: The index of the choice.
        message:
          $ref: '#/components/schemas/ChatCompletionMessage'
        finish_reason:
          type: string
          description: The reason the model stopped generating tokens.
          enum:
            - stop
            - length
            - tool_calls
            - content_filter

    CompletionUsage:
      type: object
      properties:
        prompt_tokens:
          type: integer
          description: Number of tokens in the prompt.
        completion_tokens:
          type: integer
          description: Number of tokens in the generated completion.
        total_tokens:
          type: integer
          description: Total number of tokens used.

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the chat completion.
        object:
          type: string
          description: The object type.
          enum:
            - chat.completion
        created:
          type: integer
          description: The Unix timestamp of when the completion was created.
        model:
          type: string
          description: The model used for the completion.
        choices:
          type: array
          description: A list of chat completion choices.
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/CompletionUsage'
        system_fingerprint:
          type: string
          description: A fingerprint of the backend configuration.

    # ─── Streaming ───

    ChatCompletionChunkDelta:
      type: object
      properties:
        role:
          type: string
          description: The role of the delta author.
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          type: string
          description: The content of the chunk delta.
          nullable: true
        tool_calls:
          type: array
          description: Tool call chunks.
          items:
            $ref: '#/components/schemas/ToolCallChunk'

    ToolCallChunk:
      type: object
      properties:
        index:
          type: integer
          description: The index of the tool call.
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          enum:
            - function
        function:
          type: object
          properties:
            name:
              type: string
              description: The name of the function.
            arguments:
              type: string
              description: Fragment of JSON-encoded arguments.

    ChatCompletionChunkChoice:
      type: object
      properties:
        index:
          type: integer
          description: The index of the choice.
        delta:
          $ref: '#/components/schemas/ChatCompletionChunkDelta'
        finish_reason:
          type: string
          description: The reason the model stopped generating.
          nullable: true
          enum:
            - stop
            - length
            - tool_calls
            - content_filter

    ChatCompletionChunkResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the chunk.
        object:
          type: string
          description: The object type.
          enum:
            - chat.completion.chunk
        created:
          type: integer
          description: The Unix timestamp of when the chunk was created.
        model:
          type: string
          description: The model used.
        choices:
          type: array
          description: A list of chunk choices.
          items:
            $ref: '#/components/schemas/ChatCompletionChunkChoice'
        usage:
          $ref: '#/components/schemas/CompletionUsage'

    # ─── Anthropic Messages ───

    AnthropicMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: The role of the message author.
          enum:
            - user
            - assistant
        content:
          description: The content of the message.
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/AnthropicContentBlock'

    AnthropicContentBlock:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the content block.
          enum:
            - text
            - image
            - tool_use
            - tool_result
        text:
          type: string
          description: The text content.
        source:
          type: object
          description: The image source.
          properties:
            type:
              type: string
              enum:
                - base64
            media_type:
              type: string
              description: The media type of the image.
            data:
              type: string
              description: The base64-encoded image data.
        id:
          type: string
          description: The tool use ID.
        name:
          type: string
          description: The tool name.
        input:
          type: object
          description: The tool input.
          additionalProperties: true
        tool_use_id:
          type: string
          description: The tool use ID for tool results.
        content:
          type: string
          description: The tool result content.

    AnthropicTool:
      type: object
      required:
        - name
        - input_schema
      properties:
        name:
          type: string
          description: The name of the tool.
        description:
          type: string
          description: A description of the tool.
        input_schema:
          type: object
          description: The JSON Schema for the tool input.

    MessagesRequest:
      type: object
      required:
        - model
        - messages
        - max_tokens
      properties:
        model:
          type: string
          description: |
            The model to use, in provider/model-name format.
            Example: anthropic/claude-sonnet-4-20250514
        messages:
          type: array
          description: Input messages for the conversation.
          items:
            $ref: '#/components/schemas/AnthropicMessage'
        max_tokens:
          type: integer
          description: The maximum number of tokens to generate.
        system:
          type: string
          description: System prompt for the conversation.
        temperature:
          type: number
          format: float
          description: Sampling temperature between 0 and 1.
          minimum: 0
          maximum: 1
        top_p:
          type: number
          format: float
          description: Nucleus sampling parameter.
          minimum: 0
          maximum: 1
        top_k:
          type: integer
          description: Top-K sampling parameter.
        stream:
          type: boolean
          description: Whether to stream the response.
          default: false
        tools:
          type: array
          description: Tools available for the model to use.
          items:
            $ref: '#/components/schemas/AnthropicTool'
        tool_choice:
          description: How the model should use the provided tools.
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - auto
                    - any
                    - tool
                name:
                  type: string
                  description: The name of the tool (required when type is tool).
        stop_sequences:
          type: array
          description: Custom text sequences that will cause the model to stop generating.
          items:
            type: string

    AnthropicResponseContentBlock:
      type: object
      properties:
        type:
          type: string
          description: The type of content block.
          enum:
            - text
            - tool_use
        text:
          type: string
          description: The text content.
        id:
          type: string
          description: The tool use ID.
        name:
          type: string
          description: The tool name.
        input:
          type: object
          description: The tool input.
          additionalProperties: true

    AnthropicUsage:
      type: object
      properties:
        input_tokens:
          type: integer
          description: Number of input tokens.
        output_tokens:
          type: integer
          description: Number of output tokens.

    MessagesResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the response.
        type:
          type: string
          description: The object type.
          enum:
            - message
        role:
          type: string
          description: The role of the response.
          enum:
            - assistant
        content:
          type: array
          description: The content blocks in the response.
          items:
            $ref: '#/components/schemas/AnthropicResponseContentBlock'
        model:
          type: string
          description: The model used.
        stop_reason:
          type: string
          description: The reason the model stopped generating.
          enum:
            - end_turn
            - max_tokens
            - stop_sequence
            - tool_use
        stop_sequence:
          type: string
          description: The stop sequence that caused the model to stop.
          nullable: true
        usage:
          $ref: '#/components/schemas/AnthropicUsage'

    # ─── List Models ───

    ModelInfo:
      type: object
      properties:
        id:
          type: string
          description: The model identifier in provider/model-name format.
        object:
          type: string
          description: The object type.
          enum:
            - model
        created:
          type: integer
          description: Unix timestamp of when the model was added.
        owned_by:
          type: string
          description: The provider that owns the model.
        input_cost_per_token:
          type: string
          description: Cost per input token in USD (as a string).
        output_cost_per_token:
          type: string
          description: Cost per output token in USD (as a string).
        max_completion_tokens:
          type: integer
          description: Maximum number of completion tokens supported.
        reliability:
          type: string
          description: Reliability tier of the model.
          enum:
            - high
            - medium
            - low

    ListModelsResponse:
      type: object
      properties:
        object:
          type: string
          description: The object type.
          enum:
            - list
        data:
          type: array
          description: A list of available models.
          items:
            $ref: '#/components/schemas/ModelInfo'

    # ─── Errors ───

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A human-readable error message.
            type:
              type: string
              description: The type of error.
            code:
              type: string
              description: The error code.

paths:
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create a chat completion
      description: |
        Creates a chat completion using the specified model via the Martian Gateway.
        Supports OpenAI-compatible parameters plus Martian-specific routing parameters
        such as models, max_cost, max_cost_per_million_tokens, and willingness_to_pay.
        The gateway intelligently routes to the best model based on cost, quality, and latency.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Successful completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/messages:
    post:
      operationId: createMessage
      summary: Create a message (Anthropic-compatible)
      description: |
        Creates a message using the Anthropic Messages API format via the Martian Gateway.
        Supports most Anthropic Messages API parameters. Use provider/model-name format
        for the model field (e.g., anthropic/claude-sonnet-4-20250514).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/models:
    get:
      operationId: listModels
      summary: List available models
      description: |
        Returns a list of all models currently supported by the Martian Gateway,
        including pricing information (cost per token in USD), reliability tiers,
        maximum completion tokens, and provider details.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
